//! **************************************************************************
// Written by: Map M.70d on Sun Dec 07 21:14:49 2014
//! **************************************************************************

SCHEMATIC START;
COMP "L<2>" LOCATE = SITE "A11" LEVEL 1;
COMP "L<3>" LOCATE = SITE "B11" LEVEL 1;
COMP "L<4>" LOCATE = SITE "C11" LEVEL 1;
COMP "L<5>" LOCATE = SITE "D11" LEVEL 1;
COMP "L<6>" LOCATE = SITE "E11" LEVEL 1;
COMP "L<7>" LOCATE = SITE "F11" LEVEL 1;
COMP "L<8>" LOCATE = SITE "A12" LEVEL 1;
COMP "L<9>" LOCATE = SITE "E12" LEVEL 1;
COMP "Ram1Addr<10>" LOCATE = SITE "G13" LEVEL 1;
COMP "Ram1Addr<11>" LOCATE = SITE "G14" LEVEL 1;
COMP "Ram1Addr<12>" LOCATE = SITE "G15" LEVEL 1;
COMP "Ram1Addr<13>" LOCATE = SITE "G16" LEVEL 1;
COMP "Ram1Addr<14>" LOCATE = SITE "H14" LEVEL 1;
COMP "Ram1Addr<15>" LOCATE = SITE "H15" LEVEL 1;
COMP "Ram1Addr<16>" LOCATE = SITE "H16" LEVEL 1;
COMP "Ram1Addr<17>" LOCATE = SITE "H17" LEVEL 1;
COMP "L<10>" LOCATE = SITE "F12" LEVEL 1;
COMP "L<11>" LOCATE = SITE "A13" LEVEL 1;
COMP "L<12>" LOCATE = SITE "B13" LEVEL 1;
COMP "L<13>" LOCATE = SITE "D13" LEVEL 1;
COMP "L<14>" LOCATE = SITE "E13" LEVEL 1;
COMP "L<15>" LOCATE = SITE "A14" LEVEL 1;
COMP "DYP0<0>" LOCATE = SITE "C7" LEVEL 1;
COMP "DYP0<1>" LOCATE = SITE "D7" LEVEL 1;
COMP "DYP0<2>" LOCATE = SITE "E7" LEVEL 1;
COMP "DYP0<3>" LOCATE = SITE "F7" LEVEL 1;
COMP "DYP1<0>" LOCATE = SITE "C9" LEVEL 1;
COMP "DYP0<4>" LOCATE = SITE "A8" LEVEL 1;
COMP "DYP1<1>" LOCATE = SITE "D9" LEVEL 1;
COMP "DYP0<5>" LOCATE = SITE "E8" LEVEL 1;
COMP "DYP1<2>" LOCATE = SITE "E9" LEVEL 1;
COMP "DYP0<6>" LOCATE = SITE "F8" LEVEL 1;
COMP "DYP1<3>" LOCATE = SITE "F9" LEVEL 1;
COMP "DYP1<4>" LOCATE = SITE "G9" LEVEL 1;
COMP "DYP1<5>" LOCATE = SITE "A10" LEVEL 1;
COMP "DYP1<6>" LOCATE = SITE "B10" LEVEL 1;
COMP "clk_50" LOCATE = SITE "B9" LEVEL 1;
COMP "Ram2Addr<10>" LOCATE = SITE "T18" LEVEL 1;
COMP "Ram2Addr<11>" LOCATE = SITE "U18" LEVEL 1;
COMP "Ram2Addr<12>" LOCATE = SITE "V15" LEVEL 1;
COMP "Ram2Addr<13>" LOCATE = SITE "V13" LEVEL 1;
COMP "Ram2Addr<14>" LOCATE = SITE "V12" LEVEL 1;
COMP "Ram2Addr<15>" LOCATE = SITE "V9" LEVEL 1;
COMP "Ram2Addr<16>" LOCATE = SITE "U16" LEVEL 1;
COMP "Ram2Addr<17>" LOCATE = SITE "U15" LEVEL 1;
COMP "SW<0>" LOCATE = SITE "T7" LEVEL 1;
COMP "SW<1>" LOCATE = SITE "R7" LEVEL 1;
COMP "SW<2>" LOCATE = SITE "U8" LEVEL 1;
COMP "SW<3>" LOCATE = SITE "V4" LEVEL 1;
COMP "SW<4>" LOCATE = SITE "V3" LEVEL 1;
COMP "SW<5>" LOCATE = SITE "V2" LEVEL 1;
COMP "Ram1EN" LOCATE = SITE "M15" LEVEL 1;
COMP "SW<6>" LOCATE = SITE "U1" LEVEL 1;
COMP "SW<7>" LOCATE = SITE "R4" LEVEL 1;
COMP "Ram2EN" LOCATE = SITE "N10" LEVEL 1;
COMP "SW<8>" LOCATE = SITE "R1" LEVEL 1;
COMP "SW<9>" LOCATE = SITE "N2" LEVEL 1;
COMP "Ram1OE" LOCATE = SITE "M16" LEVEL 1;
COMP "Ram2OE" LOCATE = SITE "R9" LEVEL 1;
COMP "Ram1WE" LOCATE = SITE "M18" LEVEL 1;
COMP "Ram2WE" LOCATE = SITE "M9" LEVEL 1;
COMP "Ram1Data<10>" LOCATE = SITE "L15" LEVEL 1;
COMP "Ram1Data<11>" LOCATE = SITE "L16" LEVEL 1;
COMP "Ram1Data<12>" LOCATE = SITE "L17" LEVEL 1;
COMP "Ram1Data<13>" LOCATE = SITE "L18" LEVEL 1;
COMP "Ram1Data<14>" LOCATE = SITE "M13" LEVEL 1;
COMP "Ram1Data<15>" LOCATE = SITE "M14" LEVEL 1;
COMP "Ram1Addr<0>" LOCATE = SITE "C17" LEVEL 1;
COMP "Ram1Addr<1>" LOCATE = SITE "C18" LEVEL 1;
COMP "Ram1Addr<2>" LOCATE = SITE "D16" LEVEL 1;
COMP "Ram1Addr<3>" LOCATE = SITE "D17" LEVEL 1;
COMP "Ram1Addr<4>" LOCATE = SITE "E15" LEVEL 1;
COMP "Ram1Addr<5>" LOCATE = SITE "E16" LEVEL 1;
COMP "Ram1Addr<6>" LOCATE = SITE "F14" LEVEL 1;
COMP "Ram1Addr<7>" LOCATE = SITE "F15" LEVEL 1;
COMP "Ram1Addr<8>" LOCATE = SITE "F17" LEVEL 1;
COMP "Ram1Addr<9>" LOCATE = SITE "F18" LEVEL 1;
COMP "data_ready" LOCATE = SITE "A16" LEVEL 1;
COMP "Ram2Addr<0>" LOCATE = SITE "N14" LEVEL 1;
COMP "Ram2Addr<1>" LOCATE = SITE "N15" LEVEL 1;
COMP "Ram2Addr<2>" LOCATE = SITE "N18" LEVEL 1;
COMP "Ram2Addr<3>" LOCATE = SITE "P16" LEVEL 1;
COMP "Ram2Addr<4>" LOCATE = SITE "P17" LEVEL 1;
COMP "Ram2Addr<5>" LOCATE = SITE "P18" LEVEL 1;
COMP "Ram2Addr<6>" LOCATE = SITE "R15" LEVEL 1;
COMP "Ram2Addr<7>" LOCATE = SITE "R16" LEVEL 1;
COMP "Ram2Addr<8>" LOCATE = SITE "R18" LEVEL 1;
COMP "tbre" LOCATE = SITE "D14" LEVEL 1;
COMP "Ram2Addr<9>" LOCATE = SITE "T17" LEVEL 1;
COMP "Ram2Data<10>" LOCATE = SITE "P13" LEVEL 1;
COMP "Ram2Data<11>" LOCATE = SITE "P12" LEVEL 1;
COMP "tsre" LOCATE = SITE "N9" LEVEL 1;
COMP "Ram2Data<12>" LOCATE = SITE "P11" LEVEL 1;
COMP "Ram1Data<0>" LOCATE = SITE "J12" LEVEL 1;
COMP "Ram2Data<13>" LOCATE = SITE "P10" LEVEL 1;
COMP "Ram1Data<1>" LOCATE = SITE "J13" LEVEL 1;
COMP "Ram2Data<14>" LOCATE = SITE "N12" LEVEL 1;
COMP "Ram1Data<2>" LOCATE = SITE "J14" LEVEL 1;
COMP "Ram2Data<15>" LOCATE = SITE "N11" LEVEL 1;
COMP "Ram1Data<3>" LOCATE = SITE "J15" LEVEL 1;
COMP "Ram1Data<4>" LOCATE = SITE "J16" LEVEL 1;
COMP "clk" LOCATE = SITE "U9" LEVEL 1;
COMP "Ram1Data<5>" LOCATE = SITE "J17" LEVEL 1;
COMP "Ram1Data<6>" LOCATE = SITE "K12" LEVEL 1;
COMP "Ram1Data<7>" LOCATE = SITE "K13" LEVEL 1;
COMP "Ram1Data<8>" LOCATE = SITE "K14" LEVEL 1;
COMP "Ram1Data<9>" LOCATE = SITE "K15" LEVEL 1;
COMP "rdn" LOCATE = SITE "C14" LEVEL 1;
COMP "rst" LOCATE = SITE "U10" LEVEL 1;
COMP "wrn" LOCATE = SITE "U5" LEVEL 1;
COMP "Ram2Data<0>" LOCATE = SITE "U13" LEVEL 1;
COMP "Ram2Data<1>" LOCATE = SITE "T16" LEVEL 1;
COMP "Ram2Data<2>" LOCATE = SITE "T15" LEVEL 1;
COMP "Ram2Data<3>" LOCATE = SITE "T14" LEVEL 1;
COMP "SW<10>" LOCATE = SITE "N1" LEVEL 1;
COMP "Ram2Data<4>" LOCATE = SITE "T12" LEVEL 1;
COMP "SW<11>" LOCATE = SITE "M1" LEVEL 1;
COMP "Ram2Data<5>" LOCATE = SITE "R13" LEVEL 1;
COMP "SW<12>" LOCATE = SITE "K7" LEVEL 1;
COMP "Ram2Data<6>" LOCATE = SITE "R14" LEVEL 1;
COMP "SW<13>" LOCATE = SITE "K2" LEVEL 1;
COMP "Ram2Data<7>" LOCATE = SITE "R12" LEVEL 1;
COMP "SW<14>" LOCATE = SITE "J7" LEVEL 1;
COMP "Ram2Data<8>" LOCATE = SITE "R11" LEVEL 1;
COMP "SW<15>" LOCATE = SITE "J6" LEVEL 1;
COMP "Ram2Data<9>" LOCATE = SITE "R10" LEVEL 1;
COMP "L<0>" LOCATE = SITE "D10" LEVEL 1;
COMP "L<1>" LOCATE = SITE "E10" LEVEL 1;
NET "clk_50_BUFGP/IBUFG" BEL "clk_50_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

